body {
    width: 1024px;
    margin: 0 auto;
    margin-top: 40px;
    font-size: 14px;
    font-style: normal;
    font-family: 'Roboto', sans-serif;
}

header {
    text-align: center;
    background: #106a80;
    color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
}

.profile {
    display:flex;
    justify-content: space-around;
}

.avatar {
    margin: 25px;
    border: 1px solid #fff;
    box-shadow: 0px 2px 4px rgba(256, 256, 256, 0.4);
}

.introduce {
    display: flex;
    align-items: center;
    width: 800px;
}

.introduce .name {
    width: 300px;
    font-size: 3em;
    font-weight: bold;
}

.introduce .specialty {
    width: 400px;
    font-size: 2em;
    font-weight: bold;
}

main {
    display: flex;
    justify-content: space-between;
    background-color:#fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
}
main p, .project-tagline {
    line-height: 1.5;
    color: #545E6C;
}

section {
    display:flex;
    flex-basis: 70%; 
}

aside {
    
    background-color:#42a8c0;
    color:#fff;
}

a {
    color: #2d7788;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:focus {
    text-decoration: none;
    color: #2d7788;
}
aside a {
    color:#fff;
}

aside .contact-list li {
    margin-bottom: 15px;
}

aside .contact-list li:last-child {
    margin-bottom: 0;
}

aside .container-block {
    padding: 30px;
}

aside .container-block-title {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 15px;
}

aside .degree {
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 5px;
}

aside .education-container .item {
    margin-bottom: 15px;
}

aside .education-container .item:last-child {
    margin-bottom: 0;
}

aside .education-container .meta {
    color: rgba(255, 255, 255, 0.6);
    font-weight: 500;
    margin-bottom: 0px;
    margin-top: 0;
}

aside .education-container .time {
    color: rgba(255, 255, 255, 0.6);
    font-weight: 500;
    margin-bottom: 0px;
}

aside .languages-container .lang-desc {
    color: rgba(255, 255, 255, 0.5);
}

aside .languages-list {
    margin-bottom: 0;
}

aside .languages-list li {
    margin-bottom: 10px;
}

aside .languages-list li:last-child {
    margin-bottom: 0;
}

aside .interests-list {
    margin-bottom: 0;
}

aside .interests-list li {
    margin-bottom: 10px;
}

aside .interests-list li:last-child {
    margin-bottom: 0;
}

.main-wrapper {
    background: #fff;
    padding: 60px;
}

.main-wrapper .section-title {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 500;
    color: #2d7788;
    position: relative;
    margin-top: 0;
    margin-bottom: 20px;
}

.main-wrapper .section {
    margin-bottom: 60px;
}

.skillset .item {
    margin-bottom: 15px;
    overflow: hidden;
}

.skillset .level-title {
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 12px;
}

.level-bar {
    height: 12px;
    background: #f5f5f5;
}

.html-css .level-bar-inner {
    height: 12px;
    width:350px;
    background: #7bc2d3;
}

.js .level-bar-inner {
    height: 12px;
    width:40px;
    background: #7bc2d3;
}

.ang-re-no .level-bar-inner {
    width: 0px;
    height: 12px;
    background: #7bc2d3;
}

.git .level-bar-inner {
    height: 12px;
    width:170px;
    background: #7bc2d3;
}

.photoshop .level-bar-inner {
    height: 12px;
    width:210px;
    background: #7bc2d3;
}

.main-wrapper .experiences-section .item,
.main-wrapper .educations-section .item {
    margin-bottom: 30px;
}

.main-wrapper .upper-row {
    position: relative;
    overflow: hidden;
    margin-bottom: 2px;
}

.main-wrapper .job-title{
    color: #3F4650;
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 500;
}

.main-wrapper .time {
    position: absolute;
    right: 0;
    top: 0;
    color: #97AAC3;
}

.main-wrapper .company{
    margin-bottom: 10px;
    color: #97AAC3;
}

.main-wrapper .project-title {
    font-size: 16px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 5px;
}

.main-wrapper .projects-section .intro {
    margin-bottom: 30px;
}

.main-wrapper .projects-section .item {
    margin-bottom: 15px;
}

.designed{
    display: block;
    text-align: center;
    padding-top: 30px;
    height: 50px;
}
